@import "./../variables";

.pagination {
  margin: 40px 0 0;

  &__list {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  &__item {
    &_disabled {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-weight: 600;
    border: 1px solid $orange;
    border-radius: 50%;
    cursor: pointer;

    &_active {
      color: white;
      background-color: $orange;
    }
  }
}
