@import './../variables';

.pagination {
  margin: 40px 0 0;

  &__list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  &__item {
    &_disabled {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid $orange;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;

    &_active {
      background-color: $orange;
      color: white;
    }
  }
}
